[Unit]
Description=Amazon Packages MQTT
After=network.target amazon-packages-cache.service

[Service]
Type=simple
User=homeassistant
EnvironmentFile=/etc/secrets/amazon-packages
ExecStart=/srv/ha-amazon-packages/venv/bin/python /srv/ha-amazon-packages/mqtt.py
SyslogIdentifier=amazon-packages-mqtt
Restart=on-failure

[Install]
WantedBy=multi-user.target
