[Unit]
Description=Amazon Packages Cache
After=network.target

[Service]
Type=simple
User=homeassistant
EnvironmentFile=/etc/secrets/mail-and-packages
ExecStart=/srv/ha-mail-and-packages-2/feeder/venv/bin/python /srv/ha-mail-and-packages-2/feeder/cache.py
SyslogIdentifier=amazon-packages-cache
Restart=always

[Install]
WantedBy=multi-user.target
