[Unit]
Description=Amazon Packages Cache
After=network.target

[Service]
Type=simple
User=homeassistant
WorkingDirectory=/srv/ha-amazon-packages/feeder
EnvironmentFile=/etc/secrets/amazon-packages
ExecStart=/srv/ha-amazon-packages/feeder/venv/bin/python /srv/ha-amazon-packages/feeder/cache.py
SyslogIdentifier=amazon-packages-cache
Restart=always

[Install]
WantedBy=multi-user.target
