[Unit]
Description=Amazon Packages MQTT
After=network.target amazon-packages-cache.service

[Service]
Type=simple
User=homeassistant
EnvironmentFile=/etc/secrets/mail-and-packages
ExecStart=/srv/ha-mail-and-packages-2/venv/bin/python /srv/ha-mail-and-packages-2/feeder/mqtt.py
SyslogIdentifier=amazon-packages-mqtt
Restart=on-failure

[Install]
WantedBy=multi-user.target
